body {
  font-family: sans-serif;
  background-color: #e5e5e5;
}

h1 {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
  padding: 20px;
}

section {
  position: relative;
  margin: 105vh 0 105vh 0;
  height: calc(var(--steps) * 100vh);
  display: block;
  background-color: #ff00cc;
}

.percent {
  position: absolute;
  top:10px;
  right: 40px;
  font-weight: bold;
  font-size: 5vmax;
  z-index: 10;
}

article {
  position: sticky;
  top: 0;
  height: 95vh;
  padding: 20px;
  background-color: #ffcc00;
  display: grid;
  place-content: center;
}

.bars {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  position:absolute;
  left: 0px;
  bottom: 20px;
}

.par {
  font-size: 2vmax;
  font-weight: bold;
  line-height: 1;
  margin: 10px 0;
}
.bar {
  width: 18vmax;
  height: 1.5vmax;
  background-color: #fff;
}

.bar > div {
  width: 18vmax;
  height: 1.5vmax;
  background-color: #000;
  transform-origin: 0 0;
}
.active {
  font-size: 22vmax;
  font-weight: bold;
}
